{% extends "base.html" %} {% block content %}

<div style="
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;
  ">

  <h1 style="padding-bottom: 2em;">Already reviewed for <span style=" color: #335eea;">{{ user.get_username }}
  </span></h1>

  {% if data|length > 0 %}
  {% for code,req_from,comment, id, review, rev_by in data %}

  <div style="margin-bottom: 2em;">
    <button type="button" class="collapsible btn btn-dark">reviewed by 
      <strong> {{ rev_by }} </strong><br> request id <strong>{{ id }}</strong></button>
    
    <div class="content">
      <pre class="prettyprint">
        {{ code|safe|linebreaks }}
      </pre>
      Comments: <br> {{ comment }} <hr>
      Reviews: <br> {{ review }}
    </div>
  </div>
  {% endfor %}

  {% else %}
  <div class="jumbotron">
    <h4 style="font-weight: 100;">You haven't gotten any code reviewed yet!</h4>
  </div>

  {% endif %}
</div>
{% endblock %}