{% extends "base.html" %} {% block content %}

<div style="
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;
  ">
  
  <h1 style="padding-bottom: 2em;">Pending Reviews for <span style=" color: #335eea;">{{ user.get_username }}
  </span></h1>

  {% if data|length > 0 %}
  {% for code,req_from,comment, id in data %}

  <div style="margin-bottom: 2em;">
    <button type=" button" class="collapsible btn btn-dark">request from
      <strong> {{ req_from }} </strong><br> request id <strong>{{ id }}</strong> </button>
    <div class="content">
      <pre class="prettyprint">
            {{ code|safe|linebreaks }}
          </pre>
      Comments: <br>
      {{ comment }}
      <hr>
      <form action="review/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="req_id" value="{{ id }}" />
        <input type="hidden" name="code_snippet" value="{{ code }}" />
        <input type="hidden" name="req_from" value="{{ req_from }}" />
        <input type="hidden" name="comment" value="{{ comment }}" />
        <button type="submit" class='btn btn-primary' style="margin-bottom: 20px;">review now</button>
      </form>
    </div>
  </div>
  {% endfor %}
  <!-- old method nested loops  -->
  <!-- {% for r in rf %}
  {% for c in cs %}
  {% for comment in comments %}
  {% for i in id %}

  {% if forloop.counter == forloop.parentloop.counter == forloop.parentloop.parentloop.counter == forloop.parentloop.parentloop.parentloop.counter %}
  <div style="margin-bottom: 2em;">
    <button type=" button" class="collapsible btn btn-dark">request from
      <strong>{{ r }}</strong><br> request id <strong>{{i}}</strong> </button>
    <div class="content">
      <pre class="prettyprint">
          {{ c|safe|linebreaks }}
        </pre>
      Comments: <br>
      {{ comment }}
      <hr>
      <form action="review/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="req_id" value={{ i }} />
        <input type="hidden" name="code_snippet" value={{ c }} />
        <input type="hidden" name="req_from" value={{ r }} />
        <input type="hidden" name="comment" value={{ comment }} />
        <button type="submit" class='btn btn-primary' style="margin-bottom: 20px;">review now</button>
      </form>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endfor %} -->
  <!-- nested loops -->
  {% else %}

  <div class="jumbotron">
    <h4 style="font-weight: 100;">You don't have any requests pending at the moment!</h1>
  </div>
  {% endif %}
</div>
{% endblock %}