{% extends "base.html" %} {% block content %}

<div style="
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;
  ">
  <h1 style="padding-bottom: 2em;">Pending</h1>
  {% if rf|length > 0 %}
  {% for r in rf %}
  {% for c in cs %}
  {% if forloop.counter == forloop.parentloop.counter %}
  <div style="margin-bottom: 2em;">

    <button type=" button" class="collapsible btn btn-dark">request from
      <b>{{ r }}</b></button>
    <div class="content">
      <pre class="prettyprint">
          {{ c|safe|linebreaks }}
        </pre>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
  {% else %}

  <div class="jumbotron">
    <h4 style="font-weight: 100;">You don't have any requests pending at the moment!</h1>
  </div>
  {% endif %}
</div>
{% endblock %}