{% extends "base.html" %}
{% block content %}
<div style="
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;
  ">
    <h1>Let's dbug!</h1>
    <h4>Reviewing Request from <span style="color: #335eea"> {{ rf }}</span> request id <strong>{{rid}}</strong></h4>
    <br><br>

    <p><strong>Code:</strong></p>
    <div class="container">
        <textarea name="code" id="" cols="100" rows="16">{{ cs }}</textarea>
    </div>
    <p><strong>Comments:</strong></p> {{ comment }}
    <form action="/review_submitted/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="code" id="code" value="{{ cs }}">
      <input type="hidden" name="req_from" id="req_from" value="{{ rf }}">
      <input type="hidden" name="rev_id" id="rev_id" value="{{ rid }}">
      <input type="hidden" name="comments" id="comments" value="{{ comment }}">
      <br>
      <p><strong>Add Review-</strong></p>
      <input type="text" id="review_submitted" name="review_submitted" placeholder="Add Reviews...">
      <!-- reviewer name passed through views.py -->
      <button style="margin-left: 40%; margin-top: 40px" class="btn btn-primary" type='submit'>Submit Review?</button>
    </form>
</div>

{% endblock %}