{% extends "base.html" %} {% block content %}

<div
  style="
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;
  "
>
  <h1>Send review request</h1>
  <br /><br />
    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Upload Code</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your code">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Reviewer</label>
    <select class="form-control" id="exampleFormControlSelect1">
    {% for user in username_list %}
      <option>{{ user }}</option>
    {% endfor %}
     
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comment</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="btn btn-success" type="submit">Send Review Request</button>
</form>

</div>
{% endblock %}
