{% extends "base.html" %} {% block content %}

<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">D.BUG</a>
  </div>
  <a href="team">
    <h6>Team</h6>
  </a>
  <a href="about">
    <h6>About</h6>
  </a>
  <a href="contact">
    <h6>Contact Us</h6>
  </a>
</nav>

<div
  style="
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;
  "
>
  <h1>Aaryamann</h1>
  <h1>Akshit</h1>
  <h1>Vaibhav</h1>
  <h1>Aditya Vikram Rajawat</h1>
</div>
{% endblock %}
