{% extends "base.html" %} {% block content %}

<h1 style="
		margin-left: 7em; 
		margin-top: 5em; 
		font-family: 'Quicksand', sans-serif;">
	welcome to <span style="color: #335eea">D.BUG</span>
</h1>

<button class="btn btn-primary" style="margin-left: 18em; margin-top: 8em"><a href="login">
		<span style="color: #ffffff">
			Login
		</span>
	</a></button>
<button class="btn btn-light" style="margin-left: 0.5em; margin-top: 8em; color: #000"><a
		href="signup">Sign-Up</a></button>
<!-- <img src="static/" alt="image"> -->
<img src="static/git_coder.png" height="500" width="500">
<!-- <button class="btn btn-primary" style="" >Sign-In -></button> -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

{% endblock %}